body{
	margin:0;
	padding:0;
	font-size:12px;
	color:#666;
}
ul,li{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
.clear{
	clear:both;
}
/**/
.header img{
	vertical-align:top;
}
.shortcut{
	background:#e3e4e5;
}
.w{
	width:1190px;
	margin:0 auto;
}
.sc-f{
	float:left;
	margin-left:200px;
}
.sc-f img{
	vertical-align:-4px;
}
.sc-f span{
	line-height:28px;
}
.sc-r{
	float:right;
}
.sc-r li{
	display:inline-block;
	line-height:28px;
	margin-right:8px;
}
/**/
header .w{
	position:relative;
	height:140px;
}
.logo{
	position:relative;
}
.logo img{
	position:absolute;
	top:-28px;
}
.search{
	position:absolute;
	top:25px;
	left:320px;
	width: 550px;
    height: 35px;
}
.search input{
	padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
}
.settleup{
	position: absolute;
    right: 99px;
    top: 25px;
	width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}
.settleup a{
	color:#f10214;
	text-align:center;
}
.settleup .iconfont{
	display:inline-block;
	width:18px;
	height:16px;
	background:url(../images/4.jpg);
	text-align:center;
}
.settleup .count{
	position: absolute;
    top: 5px;
    left: 140px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 50%;
    width: 12px;
}
.hotword{
	position:absolute;
	top:65px;
	left:320px;
}
.hotword a{
	color:#666;
	margin-right:8px;
}
.hotword a.active{
	color:#f10215;
}
.hotword a:hover{
	color:#f10215;
}
.navitem{
	position:absolute;
	top:110px;
	left:230px;
}
.navitem a{
	font-size:16px;
	font-weight:700;
	margin-right:25px;
	color:#555;
}
.treasure{
	position:absolute;
	right:0px;
	bottom:0px;
}
/**/
.dh .w{
	height:480px;
}
.dh-l{
	background:#6e6568;
	color:#fff5d9;
	width:190px;
	height:100%;
	font-size:14px;
	font-weight:700;
	float:left;
}
.dh-l ul{
	padding:20px 0 0 20px;
}
.dh-l li{
	height:30px;
}
.dh-m{
	float:left;
	margin-left:10px;
	width:790px;
}
.sd{
	margin-top:10px;
}
.sd .l{
	margin-right:4px;
}
.dh-r{
	float:right;
	width:190px;
	margin-left:10px;
}
.user{
	position:relative;
	height:116px;
}
.login{
	padding:15px 0 15px 80px;
	line-height:30px;
}
.user img{
	position:absolute;
	top:20px;
	left:25px;
}
.fuli{
	text-align:center;
}
.fuli a{
	color:#f10215;
	padding:5px;
	border:2px solid red;
	font-weight:700;
	margin-left:20px;
}
.news{
	height:142px;
	margin-top:6px;
	padding-left:15px;
}
.bt{
	position:relative;
}
.bt span{
	margin-right:20px;
}
.heng{
	position:absolute;
	background:red;
	height:2px;
	width:28px;
	top:16px;
	left:-2px;
	transition:0.3s;
}
.bt a{
	float:right;
}
.news .content{
	margin-top:20px;
}
.news .content li{
	line-height:28px;
}
.gg{
	display:none;
}
/**/
.main .l{
	float:left;
}
.main .l ul{
	width:370px;
	padding:10px;
}
.main .l ul li{
	width:185px;
	height:120px;
	float:left;
	position:relative;
}
.main .l ul li p{
	font-size:16px;
	width:100px;
	color:#3C8D96;
}
.main .l ul li img{
	position:absolute;
	top:45px;
	left:100px;
	transition:0.3s;
}
.main .b{
	width:370px;
	height:240px;
	background:url(../images/18.jpg) -20px;
	background-size:370px 240px;
}
.main .r{
	float:right;
}
/**/
footer{
	width:1190px;
	margin:0 auto;
}
/**/
.lift{
	position:fixed;
	left:20px;
	top:200px;
	display:none;
}
.lift li{
	width:30px;
	margin-top:2px;
	background:#918888;
	font-size:14px;
	color:#fff;
	padding:10px 5px;
}
.lift div{
	width: 0;
    height: 0;
	margin:auto;
    border-style: solid;
    border-width: 5px;
    border-color: #918888 #918888 #fff;
}













